@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

/* 스크롤바 삭제 */
::-webkit-scrollbar { display: none; }

svg text{
  user-select: none;

}
svg *{
  transform-box: fill-box;
  transform-origin: center;
}
